<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

  </head>

  <body class="flex-column">

    <section class="untitled-page profileContainer">
      <main class="mainContent">
        <!-- Main content section --> 
        <hr class="divider" size="1" />
        <div class="contentWrapper">
          <section class="introSection">
            <!-- Introduction section --> 
            <div class="introContent">
              <div class="imageGallery">
                <!-- Image gallery --> 
                <img class="galleryImg" src="/assets/879061c34768bfbb4378f0087703d0d5.svg" alt="alt text" />
                <img class="galleryImg1" src="/assets/acfa0ae16390543efb827c03a140d01d.svg" alt="alt text" />
                <img class="galleryImg2" src="/assets/2c472ddc25a45c56fb5ee50a15da9de8.svg" alt="alt text" />
              </div>
              <div class="bioInfo">
                <p class="fullName">Ананьин Кирилл</p>
                <p class="bioDescription">Я обычный студент колледжа, который занимается программированием, а так же разработкой игр</p>
              </div>
            </div>
          </section>

          <section class="activitySection">
            <!-- Main activity section --> 
            <div class="activitySection1"><!-- Main activity section --> </div>
            <div class="activityContent">
              <div class="skillsInfo">
                <div class="skillIcons">
                  <!-- Skill icons --> 
                  <img class="skillIcon" src="/assets/af31dcc0d4f1b73f6cbf5bff042cab3d.png" alt="alt text" />
                  <img class="skillIcon" src="/assets/bb0f273133eff66fc7852378b155a917.png" alt="alt text" />
                  <img class="skillIcon1" src="/assets/2f5db5eee18ac784c194bf912c614e8a.png" alt="alt text" />
                  <img class="skillIcon" src="/assets/502f8a79dbd0ccb201228928a1660772.png" alt="alt text" />
                  <img class="skillIcon" src="/assets/2dc80ac3a75cebe45c9fbf72623055d9.png" alt="alt text" />
                </div>
                <div class="mainActivityDesc">
                  <p class="activityTitle">Основной род деятельности</p>
                  <p class="activityDescription">С самого начала моего обучения в колледже, я хотел заниматься именно разработкой игр или же веб-разработкой. Так сложилось, что я взаимодействую непосредственно с этими двумя сферами одновременно.</p>
                </div>
              </div>
              <img class="activityImage" src="/assets/862066511fecec6c6e5286f162e00441.png" alt="alt text" />
            </div>
          </section>

          <section class="achievementsSection">
            <!-- Achievements section --> 
            <div class="achievementsContent">
              <div class="workAchievements">
                <p class="workAchievementsTitle">Успехи на работе</p>
                <p class="workAchievementsDesc">За всю свою жизнь я работал по своей профессии только один раз, было это в колледже ВятГУ, я занимал должность оператора ЭВиВМ, занимался я разработкой сайта для бассейна, под названием Basin, а также модернизацией и исправлением ошибок на Moodle.</p>
              </div>
              <div class="programmingAchievements">
                <p class="programmingAchievementsTitle">Успехи в программировании</p>
                <p class="programmingAchievementsDesc">
                  Основным моим направлением является разработка компьютерных игр. Мной были разработаны такие игры как “2D-платформер PSYCHO” на игровом движке Unity.
                  <br />
                  Также в данный момент в процессе разработки игра “АЛЕКСИТИМИЯ” разрабатываемая с использованием Unreal Engine 5.
                </p>
              </div>
            </div>
            <footer class="footerSection">
              <!-- Footer section --> 
              <div class="footerContent">
                <nav class="footerLinks">
                  <a class="portfolioLink">Портфолио</a>
                  <a class="activityLink">Род деятельности</a>
                </nav>
                <p class="copyright">© 2024 Designmodo. All rights reserved.</p>
              </div>
            </footer>
          </section>

        </div>
      </main>
      <header class="headerSection">
        <!-- Header section --> 
        <div class="headerContent">
          <nav class="mainNav">
            <!-- Main navigation --> 
            <a class="portfolioNavLink">Портфолио</a>
            <a class="activityNavLink">Род деятельности</a>
            <a class="achievementsNavLink">Успехи</a>
          </nav>
          <div class="socialLinks">
            <img class="socialIcon" src="/assets/36bcb3cae9ad8e8390b64b0b1ecbe446.svg" alt="alt text" />
            <img class="socialIcon1" src="/assets/5428ed997398f95689220019f2d52265.svg" alt="alt text" />
          </div>
        </div>
      </header>
    </section>


  </body>

</html>
